@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Covid-19 Application</h1>
    <p>The list of tested patients for COVID 19 virus on your local host.</p>
</div>
